@import url('https://fonts.googleapis.com/css?family=Lato');

/* #FC427B */
/* #eb3b5a */

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', 'Helvetica', 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: #212326;
  overflow-x: hidden;
}

header {
  background-color: #3b3d40;
  width: 100vw;
  padding: 0.3em 1em;
  box-sizing: border-box;
}

#logo {
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.app-logo {
  color: #fc427b;
  font-size: 28px;
}

.app-name {
  color: #eee;
  font-size: 16px;
  line-height: 16px;
  padding-left: 0.3em;
}

main {
  padding: 5% 10%;
  padding-top: 3%;
}

#galleries {
  text-align: center;
}

.preview {
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.preview img {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
}

.preview span {
  display: inline-block;
  text-align: center;
  padding: 0.3em;
  box-sizing: border-box;
  background-color: #eb3b5a;
  transition: 0.4s;
  color: #fff;
  max-width: 250px;
}

.preview span:hover {
  background-color: #fc427b;
}

#reader {
  display: block;
  margin-top: 1em;
  text-align: center;
}

#reader img {
  display: block;
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}

#reader span {
  display: block;
  margin-top: 0.5em;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

#reader a {
  color: #fff;
}

.paginator {
  text-align: center;
}

.paginator button {
  padding: 0.25em 1em;
  margin-top: 1em;
  color: #ddd;
  cursor: pointer;
  background-color: #212326;
  border: none;
  font-size: 1.2em;
}

.paginator button:hover {
  background-color: #eb3b5a;
}

.paginator .currentPage {
  color: #fff;
  background-color: #fc427b;
}