<!DOCTYPE html>
<html lang="en">

<head>
  <title>Voile</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=NmbYpXEqq4">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=NmbYpXEqq4">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=NmbYpXEqq4">
  <link rel="manifest" href="/site.webmanifest?v=NmbYpXEqq4">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=NmbYpXEqq4" color="#ba68c8">
  <link rel="shortcut icon" href="/favicon.ico?v=NmbYpXEqq4">
  <meta name="msapplication-TileColor" content="#121212">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div id="root"></div>
  <% if(process.env.NODE_ENV !== 'development') { %>
      <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
      <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
    <% }
  %>
  <noscript>
    <b class="error">You need to enable JavaScript to run this app.</b>
  </noscript>
</body>

</html>