@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', 'Helvetica', 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: #121212;
  overflow-x: hidden;
}

.loader {
  position: relative;
  display: block;
  width: 100%;
  height: 275px;
}

.loader:after {
  content: ' ';
  position: absolute;
  top: calc(50% - 3em);
  left: calc(50% - 1.5em);
  border: 3px solid #787878;
  border-top: 3px solid #8e44ad;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}

header {
  background-color: #1e1e1e;
  width: 100vw;
  padding: 0.3em 1em;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

#logo {
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.app-name {
  color: #eee;
  font-size: 24px;
  padding: 0 0.3em;
}

.app-name::first-letter {
  color: #ba68c8;
  letter-spacing: 0.05em;
}

main {
  padding: 2em 1em;
  padding-top: 1.5%;
}

#galleries {
  display: grid;
  grid-template-columns: repeat(auto-fit, 225px);
  justify-items: center;
  justify-content: center;
  align-items: flex-end;
  grid-row-gap: 1.25em;
  grid-column-gap: 1.25em;
  width: 90vw;
  margin: 0 auto;
}

#galleries a {
  text-decoration: none;
}

.preview {
  cursor: pointer;
  width: 100%;
  box-shadow: 1px 3px 5px #000;
}

.preview:hover span {
  background-color: rgba(142, 68, 173, 0.8);
}

.preview a {
  display: block;
  position: relative;
}

.preview img {
  width: 100%;
  height: auto;
  max-height: 325px;
  object-fit: cover;
}

.preview span {
  display: block;
  padding: 0.2em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  color: #fff;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

#reader {
  display: block;
  margin-top: 1em;
  text-align: center;
}

#reader img {
  display: block;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#reader span {
  display: block;
  margin-top: 0.5em;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

#reader a {
  display: block;
  margin-top: 1em;
  color: #fff;
}

.paginator {
  text-align: center;
}

.paginator button {
  padding: 0.25em 1em;
  margin-top: 1em;
  color: #ddd;
  cursor: pointer;
  background-color: #121212;
  border: none;
  font-size: 1.2em;
  font-family: 'Lato', 'Helvetica', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.paginator button:hover {
  background-color: #ba68c8;
}

.paginator .currentPage {
  color: #fff;
  background-color: #8e44ad;
}

.error {
  background-color: #e74c3c;
  color: #fff;
}