@import (css) url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@base: #121212;
@textColor: #eee;
@primary: #8e44ad;
@accent: lighten(@primary, 10%);

html,
body {
  padding: 0;
  margin: 0;
  color: @textColor;
  background-color: @base;
}

body,
input,
textarea,
noscript,
button {
  font-family: 'Lato', 'Helvetica', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

header {
  background-color: #1e1e1e;
  width: 100%;
  padding: 0.3em 1em;
  box-sizing: border-box;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

img {
  user-select: none;
}

main {
  padding: 2em 1em;
  padding-top: 1.5%;
}

button {
  padding: 0.5em 1em;
  margin: 2em 0;
  margin-bottom: 0.5em;
  border: 0;
  background-color: @primary;
  color: @textColor;
  outline: none;
  font-size: 14px;
  transition: 0.5s;
}

button:active,
button:focus,
button:hover {
  background-color: @accent;
}

span {
  color: @textColor;
}

li {
  list-style-type: none;
}

noscript {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 20px;
}

.app-name {
  display: inline-block;
  color: @textColor;
  font-size: 24px;
  padding: 0 0.3em;
  text-decoration: none;
}

.app-name::first-letter {
  color: @accent;
  letter-spacing: 0.05em;
}

#galleries {
  display: grid;
  grid-template-columns: repeat(auto-fit, 225px);
  justify-items: center;
  justify-content: center;
  align-items: flex-end;
  grid-row-gap: 1.25em;
  grid-column-gap: 1.25em;
  width: 90vw;
  margin: 0 auto;
}

#galleries a {
  text-decoration: none;
}

.preview {
  width: 100%;
  box-shadow: 1px 3px 5px #000;
}

.preview:hover span {
  background-color: fade(@primary, 80%);
}

.preview a {
  display: block;
  position: relative;
}

.preview img {
  width: 100%;
  height: auto;
  max-height: 325px;
  object-fit: cover;
}

.preview span {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 0.2em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

#overview,
#reader {
  display: block;
  margin-top: 1em;
  text-align: center;
}

#reader img {
  display: block;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}

#reader span {
  display: block;
  margin-top: 0.5em;
  text-align: center;
  font-size: 20px;
}

#overview a,
#reader a {
  display: block;
  margin-top: 1em;
  color: #fff;
}

#overview {
  width: 80vw;
  margin: 0 auto;
}

#overview .info {
  display: grid;
  grid-template-columns: minmax(0, 275px) minmax(0, 1fr);
  margin: 0 auto;
  background-color: #1e1e1e;
  word-wrap: break-word;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  text-align: left;
  max-width: 1000px;
}

.info > div {
  padding: 1.5em;
  padding-top: 0.5em;
}

.info p {
  margin: 0.35em auto;
}

.info p:first-child {
  font-size: 20px;
  padding: 0.5em;
  padding-top: 0;
  border-bottom: 1px solid @primary;
  text-align: center;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-items: center;
  justify-content: center;
  align-items: flex-end;
  grid-row-gap: 1.25em;
  grid-column-gap: 1.25em;
  margin: 0 auto;
  margin-top: 1em;
}

.thumbnails img {
  width: 200px;
  height: auto;
  max-height: 288px;
  object-fit: cover;
}

.chapter-selector {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: center;
  padding: 0;
  max-height: calc((14px + 0.7em) * 7);
  width: 100%;
  max-width: 800px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  }
}

.chapter-selector li {
  padding: 0.5em 0;
  border-top: 1px solid #aaa;
}

.chapter-selector .selected-chapter {
  background-color: rgba(128, 128, 128, 0.15);
  border-top: 1px solid @primary;
  border-bottom: 1px solid @primary;
}

.selected-chapter + li {
  border-top: 0;
}

.paginator {
  text-align: center;
}

.paginator button {
  padding: 0.25em 1em;
  margin-top: 1em;
  background-color: @base;
  border: none;
  font-size: 18px;
}

.paginator button:hover {
  background-color: @accent;
}

.paginator .currentPage {
  background-color: @primary;
}

.error {
  display: block;
  text-align: center;
  background-color: #e81123;
  padding: 0.5em;
}

.loader {
  position: relative;
  display: block;
  width: 100%;
  height: 275px;
}

.loader::after {
  content: ' ';
  position: absolute;
  top: calc(50% - 3em);
  left: calc(50% - 1.5em);
  border: 3px solid #787878;
  border-top: 3px solid @primary;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}

.tagbox {
  display: flex;
  flex-wrap: wrap;
  margin: 0.3em auto;
  align-items: baseline;
  font-size: 14px;
}

.chip {
  display: inline-block;
  padding: 0.2em 0.8em;
  margin: 0.2em;
  border-radius: 12px;
  text-transform: lowercase;
}

@media all and (max-width: 800px) {
  #galleries {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }

  .preview img {
    max-height: 650px;
  }

  .paginator button {
    font-size: 16px;
  }

  #overview {
    width: 100%;
  }

  #overview .info {
    grid-template-columns: 100%;
  }

  .info img {
    display: none;
  }

  .thumbnails {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .thumbnails a,
  .thumbnails img {
    width: 100%;
    max-height: 650px;
  }

  #reader img {
    max-width: 100%;
  }
}
